#container-box {
    margin-top: 50px;
    font-size: 2vh;
    text-align: center;
}
.cat-poster {
    width: 10rem;
}

#text{
    font-size: 30px;
}

.clearoutput{
    font-size: 30px;
    margin-left: 20%;
    margin-top: 3%;
}

#outputlist{
    margin-top: 20px;
    margin-left: 20%;
    font-size: 30px;
    border: solid 3px black;
    padding-bottom: 500px;
    max-width: 60%;
}

